<div class="full-screen splash plate bg-img row">
    <div class="logo">
        <h1>Our</h1>
        <img src="img/site/logo_coffee.svg"/>
        <h1>Coffee</h1>
    </div>
</div>
<div class="photo-barrier"></div>
<div class="full-screen splash leg bg-img row">
    <div class="container about">
        <h1>ABOUT</h1>
        <p>Quán cà phê của chúng tôi là nơi lý tưởng để bạn tận hưởng những phút giây thư giãn bên tách cà phê đậm đà hay những ly trà thơm mát. Với không gian ấm cúng, thiết kế tinh tế và đội ngũ nhân viên thân thiện, chúng tôi luôn mong muốn mang đến cho bạn trải nghiệm tuyệt vời nhất.

        <p>Hãy ghé thăm Our Coffee để cảm nhận sự hòa quyện hoàn hảo giữa hương vị và phong cách, nơi bạn có thể làm việc, gặp gỡ bạn bè hoặc đơn giản chỉ để tìm một góc yên bình giữa lòng thành phố.</p>
            
        <p>Cùng khám phá thực đơn độc đáo của chúng tôi với các món nước và bánh ngọt được chế biến từ những nguyên liệu tươi ngon nhất. Rất hân hạnh được phục vụ bạn! ☕✨</p>
    </div>
</div>
